#!/usr/bin/env bash

## 当前脚本清单（以脚本名前缀排序）

##############################  京  东  商  城  ##############################
## 短期或长期活动：
## jd_super_redrain.js          整点红包雨
## jd_half_redrain.js           半点红包雨
## jd_try.js                    京东试用
## jd_618redpacket.js           翻翻乐
## jx_cfdtx.js                  京喜财富岛提现
## adolf_flp.js                 飞利浦电视成长记
## adolf_oneplus.js             赢一加新品手机
## adolf_superbox.js            京东超级盒子
## adolf_jxhb.js                京喜阶梯红包
## adolf_star.js                家电星推官
## monk_inter_shop_sign.js      interCenter渠道店铺签到
## monk_shop_follow_sku.js      店铺关注有礼
## monk_shop_lottery.js         店铺大转盘
## long_hby_lottery.js          618主会场红包雨
## zooLongzhou.js               与'粽'不同
## zooBaojiexiaoxiaole.js       宝洁消消乐

## 一次性活动：
## superBrand.js                特物ZX联想（一次性活动）

##############################  京  东  到  家  ##############################
## 短期或长期活动：
## jddj_fruit.js                京东到家 果园任务
## jddj_fruit_collectWater.js   京东到家 果园水车
## jddj_fruit_code.js           京东到家 果园获取互助码
## jddj_getPoints.js            京东到家 庄园领水滴
## jddj_bean.js                 京东到家 鲜豆任务
## jddj_plantBeans.js           京东到家 鲜豆庄园

## 京东到家需开通 "到家果园" 活动，自行挑选水果种植跟东东农场类似
## 不想薅这个APP的羊毛就忽略这些脚本，顺便把定时任务注释掉

## 京东到家账号环境变量（必填）： 
## export JDDJ_COOKIE="deviceid_pdj_jd=xxxxxxxx;o2o_m_h5_sid=xxxxxxxx;"   多个账号用英文逗号隔开
## export JDDJ_CKPATH="/jd/scripts/jddj_cookie.js"                        不指定路径可能会报错


##############################  定  义  下  载  代  理  （选填）  ##############################

cat /etc/hosts | grep "raw.githubusercontent.com" -q
if [ $? -ne 0 ]; then
  echo "199.232.28.133 raw.githubusercontent.com" >>/etc/hosts
  echo "199.232.68.133 raw.githubusercontent.com" >>/etc/hosts
  echo "185.199.108.133 raw.githubusercontent.com" >>/etc/hosts
  echo "185.199.109.133 raw.githubusercontent.com" >>/etc/hosts
  echo "185.199.110.133 raw.githubusercontent.com" >>/etc/hosts
  echo "185.199.111.133 raw.githubusercontent.com" >>/etc/hosts
fi
PROXY_URL=https://ghproxy.com/

##############################  作  者  昵  称  （必填）  ##############################

author_list="Public LongZhuZhu adolf ZCY01 passerby-b Wenmoux zooPanda"

##############################  作  者  脚  本  地  址  链  接   （必填）  ##############################

scripts_base_url_1=https://gitee.com/SuperManito/scripts/raw/master/
## 龙王，下点雨吧
scripts_base_url_2=${PROXY_URL}https://raw.githubusercontent.com/leecheng310/longzhuzhu/main/qx/
## 庙塌了，据说是一个叫袁亮的人干的，并且和尚们连夜赶路离开了这个地方，不知去向了哪里~
scripts_base_url_3=${PROXY_URL}https://raw.githubusercontent.com/taoxin526/hjdym/main/
## 京东试用
scripts_base_url_4=${PROXY_URL}https://raw.githubusercontent.com/ZCY01/daily_scripts/main/jd/
## 京东到家
scripts_base_url_5=${PROXY_URL}https://raw.githubusercontent.com/passerby-b/JDDJ/main/
## Wenmoux
scripts_base_url_6=${PROXY_URL}https://raw.githubusercontent.com/Wenmoux/scripts/wen/jd/
## zooPanda
scripts_base_url_7=${PROXY_URL}https://raw.githubusercontent.com/zooPanda/zoo/dev/
## yangtingxiao
# scripts_base_url_8=${PROXY_URL}https://raw.githubusercontent.com/yangtingxiao/QuantumultX/master/scripts/jd/

## 部分仓库临时启用别人 FORK 或搬运的库，能不能用我不知道，有什么问题也别问我

##############################  作  者  脚  本  名  称  （必填）  ##############################

my_scripts_list_1="jx_cfdtx.js"
my_scripts_list_2="jd_super_redrain.js jd_half_redrain.js long_hby_lottery.js"
my_scripts_list_3="monk_inter_shop_sign.js monk_shop_follow_sku.js monk_shop_lottery.js adolf_star.js adolf_flp.js adolf_oneplus.js adolf_superbox.js adolf_jxhb.js"
my_scripts_list_4="jd_try.js"
my_scripts_list_5="jddj_fruit.js jddj_fruit_collectWater.js jddj_bean.js jddj_plantBeans.js jddj_getPoints.js jddj_fruit_code.js jddj_cookie.js"
my_scripts_list_6="jd_618redpacket.js jd_limitBox.js jd_superBrand.js jd_SplitRedPacket.js jd_mcxhd_brandcity.js jd_ddnc_farmpark.js"
my_scripts_list_7="zooBaojiexiaoxiaole.js zooLongzhou.js"
# my_scripts_list_8="jd_starStore.js"

##############################  随  机  函  数  ##############################
rand() {
  min=$1
  max=$(($2 - $min + 1))
  num=$(cat /proc/sys/kernel/random/uuid | cksum | awk -F ' ' '{print $1}')
  echo $(($num % $max + $min))
}
cd ${ShellDir}
index=1
for author in $author_list; do
  echo -e "开始下载 $author 的活动脚本：\n"
  eval scripts_list=\$my_scripts_list_${index}
  #echo $scripts_list
  eval url_list=\$scripts_base_url_${index}
  #echo $url_list
  for js in $scripts_list; do
    eval url=$url_list$js
    echo $url
    eval name=$js
    echo $name
    wget -q --no-check-certificate $url -O scripts/$name.new

    if [ $? -eq 0 ]; then
      mv -f scripts/$name.new scripts/$name
      echo -e "更新 $name 完成...\n"
      croname=$(echo "$name" | awk -F\. '{print $1}')
      script_date=$(cat scripts/$name | grep "http" | awk '{if($1~/^[0-59]/) print $1,$2,$3,$4,$5}' | sort | uniq | head -n 1)
      if [ -z "${script_date}" ]; then
        cron_min=$(rand 1 59)
        cron_hour=$(rand 7 9)
        [ $(grep -c "$croname" ${ListCron}) -eq 0 ] && sed -i "/hangup/a${cron_min} ${cron_hour} * * * bash /sdcard/jd/jd.sh $croname" ${ListCron}
      else
        [ $(grep -c "$croname" ${ListCron}) -eq 0 ] && sed -i "/hangup/a${script_date} bash /sdcard/jd/jd.sh $croname" ${ListCron}
      fi
    else
      [ -f scripts/$name.new ] && rm -f scripts/$name.new
      echo -e "更新 $name 失败，使用上一次正常的版本...\n"
    fi
  done
  index=$(($index + 1))
done

##############################  自  定  义  命  令  ##############################

## 京东试用脚本添加取关定时任务
[ -f ${ScriptsDir}/jd_try.js ] && grep -q "5 10 \* \* \* bash /sdcard/jd/jd.sh jd_unsubscribe" ${ListCron}
if [ $? -ne 0 ]; then
  echo -e '# 京东试用脚本添加的取关定时任务\n5 10 * * * bash /sdcard/jd/jd.sh jd_unsubscribe' >>${ListCron}
fi

##############################  删  除  失  效  的  活  动  脚  本  ##############################
rm -rf ${ScriptsDir}/jd_jbczy.js && sed -i "/jd_jbczy/d" ${ListCron}
rm -rf ${ScriptsDir}/adolf_martin.js && sed -i "/adolf_martin/d" ${ListCron}
rm -rf ${ScriptsDir}/adolf_urge.js && sed -i "/adolf_urge/d" ${ListCron}
rm -rf ${ScriptsDir}/adolf_newInteraction.js && sed -i "/adolf_newInteraction/d" ${ListCron}
rm -rf ${ScriptsDir}/jd_paopao.js && sed -i "/jd_paopao/d" ${ListCron}
rm -rf ${ScriptsDir}/jd_starStore.js && sed -i "/jd_starStore/d" ${ListCron}
rm -rf ${ScriptsDir}/babelDiy.js && sed -i "/babelDiy/d" ${ListCron}
rm -rf ${ScriptsDir}/adolf_pk.js && sed -i "/adolf_pk/d" ${ListCron}
rm -rf ${ScriptsDir}/zooBrandcity.js && sed -i "/zooBrandcity/d" ${ListCron}